<h1>Keto Recipe Results</h1>
<%if(results === undefined) {%>
    <h3>No Recipes Found</h3>
    <small>Please try a different search</small>
<%} else {%>
    <ul>
        <%results.forEach(function(result){%>
            <li>
                <a href="/results/<%=result.hits%>"><%=result.recipe.label%></a>
            </li>
            <%})%>
    </ul>    
<%}%>
    
