<div class="container-fluid">
<h1>Search for Keto Recipes Here</h1>

<form method="GET"action="/keto/results">
    <label for="keto search">Search for Keto Recipes</label>
    <input type="text" name="ketoResults">
    <input type="submit">
    </form>
</div>