<h1>Keto Recipe Results</h1>
<%if(results === undefined) {%>
    <h3>No Recipes Found</h3>
    <small>Please try a different search</small>
<%} else {%>
    <ul>
        <%results.forEach(function(result){%>
            <li>
                <div class ="well">
                <a href="/results/<%=result.recipe.url%>"><%=result.recipe.label%></a>
                <form method = "POST" action="/profile">
                    <input hidden type ="url" name ="name" value ="<%result.recipe.url%>">
                    <button class="btn btn-primary" type="submit">Add to favorite recipes</button>
                </form>
            </div>
            </li>
            <%})%>
    </ul>    
<%}%>
    
