<div class="container">
    <!-- <div class="bg-image" style="background-image: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh"> -->
    <!-- <div class="card bg-light text-black border-success mb-3 col d-flex justify-content-center"" style= "width: 60%; height: 50%;"> -->
<% if(!currentUser) {%>

    <div class="jumbotron jumbotron-fluid" style="background: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <div class="container-fluid text-center">
        <h3 class="display-3">Welcome to Primal Recipes Collector</h3>
<p class="lead pb-4">Please Sign in to Save Recipes</p>
<hr class="my-4">
<p>Sign in here</p>
    <p><a href="/auth/login" class="btn btn-primary btn-lg" style="background-color: #c60063;  border-color: #c60063;"role="button">Learn More</a></p>
</div>
</div>
</div>

<section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Your Recipe Collection</h2>
    
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/public/images/lemonaoili.png" alt="lemon aoili chicken recipe">
             <div class="card-body">
                <h4 class="card-title">Keto and Paleo Recipes</h4>
                <p class="card-text">Search for Keto and Paleo friendly recipes.</p>
             </div>
             <div class="card-footer py-4">
                <a href="/auth/login" class="btn btn-secondary">Search for Recipes &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/public/images/salmon.png" alt="salmon recipe">
             <div class="card-body">
                <h4 class="card-title">Save your Recipes</h4>
                   <p class="card-text">Save your Recipes to your collection! Create different list to organize them for your week.</p>
             </div>
             <div class="card-footer py-4">
                <a href="/auth/login" class="btn btn-secondary">Save your Recipes &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/public/images/spanishchicken.png" alt="spanish chicken recipe">
             <div class="card-body">
                <h4 class="card-title">Edit your Recipe Names</h4>
                <p class="card-text">Remove your Recipes when you no longer need them! Edit their titles and save them on your favorite list to keep track on your super favorite recipes!</p>
             </div>
             <div class="card-footer py-4">
                <a href="/auth/login" class="btn btn-secondary">Edit your recipes &raquo;</a>
             </div>
          </div>
       </div>
    </div>
 </section>

<% } else { %>
    <div class="jumbotron text-white jumbotron-image shadow" 
    <h2 >Primal Recipes Collector</h2>
        <h4>
            Save your Favorite Keto and Paleo Recipes to your Collection
        </h4>
        <h4>
            <ul>
                <li>
                    <div class="list-group">
                        <a href="/keto/search" class"list-group-item list-group-item-action
                            list-group-item-light">Search for Keto Recipes</a>
                    </div>
                </li>
            </ul>
        </h4>

        <h4>
            <ul>
                <li>
                    <div class="list-group">
                        <a href="/paleo/search" class"list-group-item list-group-item-action
                            list-group-item-light">Search for Paleo Recipes</a>
                    </div>
                </li>
            </ul>
        </h4>
        <% } %>
    </div>
</div>