<h2>Primal Recipes Collector</h1>
<h3>
    Search Through Keto-Friendly and Paleo Recipes
</h3>


<h4>
    <ul>
        <div class="well">
            <a href="/keto/search">Search for Keto Recipes</a>
        </div>
    </ul>
</h4>

<h4>
    <ul>
        <div class="well">
            <a href="/paleo/search">Search for Paleo Recipes</a>
        </div>
    </ul>
</h4>