<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >


    <h2>Primal Recipes Collector</h1>
        <h4>
            Save your Favorite Keto and Paleo Recipes to your Collection
        </h4>
        <h3>
            Search Through Keto-Friendly and Paleo Recipes
        </h3>






        <h4>
            <ul>
                <li>
                    <div class="list-group">
                        <a href="/keto/search" class"list-group-item list-group-item-action
                            list-group-item-light">Search for Keto Recipes</a>
                    </div>
                </li>
            </ul>
        </h4>

        <h4>
            <ul>
                <li>
                    <div class="list-group">
                        <a href="/paleo/search" class"list-group-item list-group-item-action
                            list-group-item-light">Search for Paleo Recipes</a>
                    </div>
                </li>
            </ul>
        </h4>

</div>