<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <title>Primal Recipe Collector</title>
</head>

<body>
  <!-- <div class="bg-image" style="background-image: url('https://images.pexels.com/photos/8581015/pexels-photo-8581015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh">
 -->

    <header>
      
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #d4ebe2;">
        <div class="container">
          <a class="navbar-brand" href="/"><img src= "/images/logo.png" width="25" height="25" class="d-inline-block align-top" alt="Letter P Icon">rimal Kitchen Recipe Collector</a>
          <a class="navbar-brand" href="/"><span class="sr-only"></span></a>
          <% if (!currentUser) { %>
            <a class="nav-link" href="/auth/signup">Signup</a>
            <a class="nav-link" href="/auth/login">Login</a>
            <% } else { %>
              <a class="nav-link" href="/auth/logout">Logout</a>
              <a class="nav-link" href="/profile">Keto Recipe Collection</a>
              <a class="nav-link" href="/paleoProfile">Paleo Recipe Collection</a>
              <% } %>
            </div>
      </nav >
    </header>
      <%- include('partials/alerts') %>
        <%- body %>
</body>

</html>