<h2><%= currentUser.name %>'s Profile</h2>

<h1>All Your Favorite Favorite Keto Recipes</h1>
<%results.forEach((recipe) => {%>
    <h3>
        <a href="/keto/<%= recipe.url %>"><%= recipe.url %></a>
    </h3>



    <!-- <form action="/faves/<%= result.recipe %>?_method=DELETE" method="POST">
        <button type="submit">Remove From Faves</button>
    </form> -->
<%})%>