<h1>Search for Keto Recipes Here</h1>

<form method="GET"action="/paleo/results">
    <label for="paleo search">Search for Paleo Recipes</label>
    <input type="text" name="PaleoResults">
    <input type="submit">
    </form>