<div class="container-fluid">
    <h2>Results for Paleo Recipes</h2>
    <h4>Click on Recipe Link to check out Paleo Recipe</h4>
    <%if(pResults===undefined) {%>
        <h3>No Recipes Found</h3>
        <small>Please try a different search</small>
        <%} else {%>

            <%pResults.forEach(function(pResult){%>
                <ul>
                    <div class="list-group">
                        <li>
                            <form method="POST" action="/paleo/results">
                                <a href="<%=pResult.recipe.url%>"
                                    class="list-group-item list-group-item-action list-group-item-light"
                                    target="_blank">
                                    <%=pResult.recipe.label%>
                                </a>
                                <input hidden type="text" name="pRecipeUrl" value="<%=pResult.recipe.url%>">
                                <input hidden type="text" name="pRecipeLabel" value="<%=pResult.recipe.label%>">
                                <button type="submit">Add Recipe Link to your Favorites List</button>
                            </form>
                    </div>
                    </li>
                </ul>
                <%})%>
            <%}%>
</div>